<!-- Sidebar -->
<div id="sidebar" class="sidebar">
  <div class="sidebar-header">
    <h4 class="text-center">Mi Aplicación</h4>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <a href="#" class="sidebar-link">
        <i class="fas fa-tachometer-alt"></i> Entidades
      </a>
    </li>
    <li class="list-group-item">
      <a href="#" class="sidebar-link">
        <i class="fas fa-users"></i> Tipo de contribuyentes
      </a>
    </li>
    <li class="list-group-item">
      <a href="#" class="sidebar-link">
        <i class="fas fa-cogs"></i> Tipo de documentos
      </a>
    </li>
  </ul>
</div>

