<div class="modal modal-lg fade" id="genericModal-warning" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Advertencia</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
      </div>
      <div class="modal-body">
        <app-delete-warging (confirmDelete)="handleMethod()"></app-delete-warging>
      </div>
    </div>
  </div>
</div>
